body {
	padding-bottom: 20px;
	background-color: white;
}

.canvas-stage {
	background-color: lightgray;
	padding-top: 15px;
	padding-bottom: 15px;
}

#result,
#preview {
	width: 100%;
}
@font-face{
	font-family:'Norvrandt';
	src:url('https://gelehrtecrest.github.io/norvrandt-font/fonts/Norvrandt-Regular.woff') format('woff');
}
@font-face{
	font-family:'Kugane';
	src:url('https://gelehrtecrest.github.io/kugane-font/fonts/Kugane-Regular.woff') format('woff');
}
@font-face{
	font-family:'NieR';
	src:url('https://gelehrtecrest.github.io/nier-font/fonts/NieR-Regular.woff') format('woff');
}
