body {
	padding-bottom: 20px;
	background-color: white;
}

.canvas-stage {
	background-color: lightgray;
	padding-top: 15px;
	padding-bottom: 15px;
}

#result,
#preview {
	width: 100%;
}

.tab-content {
	border-style: solid;
	border-width: thin;
	border-color: #ddd;
	margin-bottom: 10px;
}

.nav-tabs{
	border-bottom: none !important;
}

@font-face{
	font-family:'Norvrandt';
	src:url('https://gelehrtecrest.github.io/norvrandt-font/fonts/Norvrandt-Regular.woff') format('woff');
}
@font-face{
	font-family:'Norvrandt5';
	src:url('https://gelehrtecrest.github.io/norvrandt-font/fonts/for_patch_5.0/Norvrandt-Regular.woff') format('woff');
}
@font-face{
	font-family:'Kugane';
	src:url('https://gelehrtecrest.github.io/kugane-font/fonts/Kugane-Regular.woff') format('woff');
}
@font-face{
	font-family:'@Kugane';
	src:url('https://gelehrtecrest.github.io/kugane-font/fonts/@Kugane-Regular.woff') format('woff');
}
@font-face{
	font-family:'NieR';
	src:url('https://gelehrtecrest.github.io/nier-font/fonts/NieR-Regular.woff') format('woff');
}
@font-face{
	font-family:'Eorzea';
	src:url('https://gelehrtecrest.github.io/eorzea-font/main/fonts/Eorzea-Regular.woff') format('woff');
}
@font-face{
	font-family:'EorzeaSmart';
	src:url('https://gelehrtecrest.github.io/eorzea-font/smart/fonts/EorzeaSmart-Regular.woff') format('woff');
}
@font-face{
        font-family:'Allagan';
        src:url('https://gelehrtecrest.github.io/allagan-font/fonts/Allagan-Regular.woff') format('woff');
}
@font-face{
        font-family:'Near-Eastern';
        src:url('https://gelehrtecrest.github.io/near-eastern-font/fonts/Near-Eastern-Regular.woff') format('woff');
}
@font-face{
        font-family:'Eden';
        src:url('https://gelehrtecrest.github.io/eden-font/fonts/Eden-Regular.woff') format('woff');
}
@font-face{
        font-family:'Eorzea-Blackletter';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/Eorzea-Blackletter-Regular.woff') format('woff');
}
@font-face{
        font-family:'EorzeaSquare';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/EorzeaSquare-Regular.woff') format('woff');
}
@font-face{
	font-family:'EorzeaEase';
	src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/EorzeaEase-Regular.woff') format('woff');
}
@font-face {
	font-family:"TrainOne";
	src:url("https://gelehrtecrest.github.io/countdown-generator/fontworks/TrainOne-Regular.ttf") format("truetype");
}
@font-face {
	font-family:"Stick";
	src:url("https://gelehrtecrest.github.io/countdown-generator/fontworks/Stick-Regular.ttf") format("truetype");
}
@font-face {
	font-family:"RocknRollOne";
	src:url("https://gelehrtecrest.github.io/countdown-generator/fontworks/RocknRollOne-Regular.ttf") format("truetype");
}
@font-face {
	font-family:"ReggaeOne";
	src:url("https://gelehrtecrest.github.io/countdown-generator/fontworks/ReggaeOne-Regular.ttf") format("truetype");
}
@font-face {
	font-family:"RampartOne";
	src:url("https://gelehrtecrest.github.io/countdown-generator/fontworks/RampartOne-Regular.ttf") format("truetype");
}
@font-face {
	font-family:"KleeOne";
	src:url("https://gelehrtecrest.github.io/countdown-generator/fontworks/KleeOne-Regular.ttf") format("truetype");
}
@font-face {
	font-family:"KleeOne-SemiBold";
	src:url("https://gelehrtecrest.github.io/countdown-generator/fontworks/KleeOne-SemiBold.ttf") format("truetype");
}
@font-face {
	font-family:"DotGothic16";
	src:url("https://gelehrtecrest.github.io/countdown-generator/fontworks/DotGothic16-Regular.ttf") format("truetype");
}
@font-face{
        font-family:'EorzeaDot';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/EorzeaDot-Regular.woff') format('woff');
}
@font-face{
        font-family:'KuganeDot';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/KuganeDot-Regular.woff') format('woff');
}
@font-face{
        font-family:'NorvrandtDot';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/NorvrandtDot-Regular.woff') format('woff');
}
@font-face{
        font-family:'NorvrandtDot5';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/for_patch5.0/NorvrandtDot-Regular.woff') format('woff');
}
@font-face{
        font-family:'EorzeaCursive';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/EorzeaCursive-Regular.woff') format('woff');
}
@font-face{
        font-family:'EorzeaMaru';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/EorzeaMaru-Regular.woff') format('woff');
}
@font-face{
        font-family:'Tougyou';
        src:url('https://gelehrtecrest.github.io/countdown-generator/gelefont/Tougyou-Regular.woff') format('woff');
}
@font-face{
	font-family:'Etheirys';
	src:url('https://gelehrtecrest.github.io/etheirys-font/fonts/Etheirys-Regular.woff') format('woff');
}
@font-face{
	font-family:'Thavnair';
	src:url('https://gelehrtecrest.github.io/thavnair-font/fonts/Thavnair-Regular.woff') format('woff');
}
















/* ダークモード */
.dark-theme {
	background: #000;
	color: #ddd;
	transition: .5s;
}
.dark-theme .jumbotron {
	background: #333;
	transition: .5s;
}
.dark-theme .nav-tabs li.active a{
	background-color: #000;
	color: #333;
	transition: .5s;
}
